
section.works_section.d-flex.align-items-center.justify-content-center
    .imgdiv
        h3 Google APi 串接
section.works_section.d-flex.align-items-center.justify-content-center
    .imgdiv
        h3 麵包專題
section.works_section.d-flex.align-items-center.justify-content-center
    .imgdiv
        h3 簡易Blog
section.works_section.d-flex.align-items-center.justify-content-center
    .imgdiv
        h3 小型購物網站

.scroll.d-flex.justify-content-center
    p scroll

    