doctype html
html(lang="en")
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width", initial-scale="1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    head
        title Welcome My Work Collection
    body
        .background
        .barbackground
        .bar
            .cir_group
                .cir1.cir
                .cir2.cir
                .cir3.cir
            .link_group
                h1
                    a(href="#") 
                        span H
                        span o
                        span m
                        span e
                h1
                    a(href="#") 
                        span W
                        span o
                        span r
                        span k
                        span s
                h1
                    a(href="#") 
                        span A
                        span b
                        span o
                        span u
                        span t

        .content



    